<!DOCTYPE html>
<html lang="en">

<head>
    <title>Indicadores systrack</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/base.css">
</head>

<body>
    <div class="container">
        <nav class="header">

        </nav>

        <div class="row">
            <div class="col-6">
                <img src="/static/graficos/rolMF.png">
            </div>
            <div class="col-6">
                <img src="/static/graficos/cljxplantas.png">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="/static/graficos/cljxedad.png">
            </div>
            <div class="col-6">
                <img src="/static/graficos/cljxdistrito.png">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="/static/graficos/cljxgenero.png">
            </div>
            <div class="col-6">
                <img src="/static/graficos/senatixplantas.png">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="/static/graficos/senatixedad.png">
            </div>
            <div class="col-6">
                <img src="/static/graficos/senatixdistrito.png">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="/static/graficos/senatixgenero.png">
            </div>
        </div>

        <footer class="footer">
            <p>Prueba de footer</p>
        </footer>

    </div>

</body>

</html>