{% extends "layout/base.html" %}

{% block title %}Indicadores{% endblock %}

{% block content %}
<div class="container">
    <h1>Indicadores</h1>
    <br>
    <div class="alert alert-success" role="alert">
        <a href="#" class="alert-link">Rol en Modalidades Formativas</a>
    </div>
    <br><br>
    <div class="row">
        <div class="col-6">
            <img src="/static/graficos/rolMF.png" class="graficos">
        </div>
    </div>
    <br><br>
    <div class="alert alert-success" role="alert">
        <a href="#" class="alert-link">Demográficos</a>
    </div>
    <br><br>
    <div class="row">
        <div class="col">
            <img src="/static/graficos/cljxplantas.png" class="graficos">
        </div>
        <div class="col">
            <img src="/static/graficos/senatixplantas.png" class="graficos">
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col">
            <img src="/static/graficos/cljxdistrito.png" class="graficos">
        </div>
        <div class="col">
            <img src="/static/graficos/senatixdistrito.png" class="graficos">
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col">
            <img src="/static/graficos/cljxgenero.png" class="graficos">
        </div>
        <div class="col">
            <img src="/static/graficos/senatixgenero.png" class="graficos">
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col">
            <img src="/static/graficos/cljxedad.png" class="graficos">
        </div>
        <div class="col">
            <img src="/static/graficos/senatixedad.png" class="graficos">
        </div>
    </div>
    <br><br>
    <div class="alert alert-success" role="alert">
        <a href="#" class="alert-link">Absentismo</a>
    </div>
    <br><br>

    <br><br>
    <div class="alert alert-success" role="alert">
        <a href="#" class="alert-link">Capacitación</a>
    </div>
    <br><br>

    <br><br>
    <div class="alert alert-success" role="alert">
        <a href="#" class="alert-link">Tiempo de permanencia</a>
    </div>
    <br><br>

    <br><br>
    <div class="alert alert-success" role="alert">
        <a href="#" class="alert-link">Rotación</a>
    </div>
    <br><br>

    <br><br>
    <div class="alert alert-success" role="alert">
        <a href="#" class="alert-link">Calificaciones</a>
    </div>
    <br><br>

    <br><br>
    <div class="alert alert-success" role="alert">
        <a href="#" class="alert-link">Accidentes</a>
    </div>
    <br><br>
</div>
{% endblock %}