{% extends "layout/base.html" %}

{% block title %}Indicadores{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="/static/graficos/rolMF.png">
        </div>
        <div class="col-4">
            <img src="/static/graficos/cljxplantas.png">
        </div>
        <div class="col-4">
            <img src="/static/graficos/cljxedad.png">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="/static/graficos/cljxdistrito.png">
        </div>
        <div class="col-4">
            <img src="/static/graficos/cljxgenero.png">
        </div>
        <div class="col-4">
            <img src="/static/graficos/senatixplantas.png">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="/static/graficos/senatixedad.png">
        </div>
        <div class="col-4">
            <img src="/static/graficos/senatixdistrito.png">
        </div>
        <div class="col-4">
            <img src="/static/graficos/senatixgenero.png">
        </div>
    </div>
</div>
{% endblock %}